.header {
    background-color: black;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 7.5vw;
    width: 100vw;
}

.fixed-header {
    background-color: transparent;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    height: 7.5vw;
    width: 100vw;
}

.slider {
    margin: 10vw;
    margin-top: 5vw;
    width: 80vw;
    height: 50vw;
    border-radius: 2vw;
    background-color: rebeccapurple;
    display: grid;
    grid-template-columns: 70% 30%  ;
}

.slider > .home-slider-image {
    background-color: aqua;
}

.slider .home-slider-text {
    background-color: rgb(40, 40, 40);
}



